<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>

<div th:replace="/fragments/header :: header"></div>
<div class="w3-sidebar w3-bar-block" style="width:25%;right:0">
    <h5 class="w3-bar-item">Menu</h5>
    <a href="#" class="w3-bar-item w3-button">Link 1</a>
    <a href="#" class="w3-bar-item w3-button">Link 2</a>
    <a href="#" class="w3-bar-item w3-button">Link 3</a>
</div>

<div class="container" style="margin-right: 25%">
    <div th:replace="/fragments/posts :: posts(posts=${posts})"></div>
</div>

<footer th:replace="/fragments/footer :: footer"></footer>

</body>
</html>